body{

font-family:sans-serif;
text-align:center;
background:#f4f4f4;
margin:0;
padding:20px;

}

.results{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:10px;

}

.results img{

width:80px;
cursor:pointer;

}

.grid{

width:450px;
margin:auto;

display:grid;
grid-template-columns:repeat(3,1fr);
gap:6px;

}

.slot{

background:white;
height:150px;
position:relative;

}

.slot img{

width:100%;
height:100%;
object-fit:cover;

}

.buttons{

margin-top:30px;

}

canvas{

display:none;

}